body{
    font-size: 22px;
    background-color: rgb(212, 212, 144);
}
.container{
    background-color: rgb(163, 174, 177);
    color: rgb(26, 25, 25);
    border-radius: 1px;
    margin-top: 100px;
}
pre{
    background-color: rgb(118, 219, 236);
    color: rgb(17, 16, 16);
    border-radius: 15px;
}