body{
    font-size: 20px;
    background-color: rgb(131, 156, 209);
}
.navbar{
    top:0;;
    position: sticky;
    
}
.navbar-brand{
    font-size: 20px;
    background-color: rgb(24, 23, 23);
    border-radius: 0px;
}
.container{
    background-color: rgb(233, 183, 225);
    border-radius: 0px;
    margin-top: 70px;
}
pre{
    background-color: rgb(217, 233, 126);
    color: rgb(17, 17, 17);
    font-size: 15px;
    border-radius: 0px;
}